.conteneur {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 45%;
    border: 1px solid black;
    padding: 40px;
}

button[type="submit"] {
    width: 100%;
}

button[type="submit"]:disabled {
    cursor: not-allowed;
}