[nz-form] {
  max-width: 600px;
}

.phone-select {
  width: 70px;
}

.register-are {
  margin-bottom: 8px;
}

.conteneur {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  background-color: white;
}

.myForm {
  width: 100%;
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 85px;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.50);
  box-shadow: 0 8px 15px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
}

nz-form-control {}