<nz-layout>
    <nz-sider nzCollapsible nzWidth="200px" style="height: 100vh;" *ngIf="auth.isLoggedIn()"> 
        <div class="logo">
            <span>Lycée de Pout</span>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline">
          <i nz-icon nzType="team" nzTheme="outline" class="autreListes"></i>
            <li nz-submenu nzTitle="Eleves" class="listeParticular">
              <ul class="mesListes">
                <li nz-menu-item routerLink="students/liste" class="liste">
                  <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
                  <span>Liste</span>
                </li>
                <li nz-menu-item routerLink="students/inscription" class="liste">
                  <i nz-icon nzType="user-add" nzTheme="outline"></i>
                  <span>Inscription</span>
                </li>
              </ul>
            </li>
            <li nz-menu-item class="liste" routerLink="classes/liste">
              <i nz-icon nzType="book" nzTheme="outline"></i>
              <span>Classes</span>
            </li>
            <li nz-menu-item class="liste" routerLink="stats">
              <i nz-icon nzType="area-chart" nzTheme="outline"></i>
              <span>Stats</span>
            </li>
          <li nz-menu-item class="liste" (click)="disconnect()">
            <i nz-icon nzType="logout" nzTheme="outline"></i>
            <span>Deconnexion</span>
          </li>
        </ul>
      </nz-sider>
    <nz-layout class="contenu">
      <router-outlet></router-outlet>
    </nz-layout>
  </nz-layout>